/*Assume having 5 individual div is very help, think them as a individual character, put the display: flex; flex-direction: row/column ; justify-content(x-axis), align-items(y-axis)
 provide you the the most important thing*/

body{
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	border: 1px solid red;
	opacity: 0.9;
	text-align: center;
	margin:0px;

}
.header{
display: flex;
flex-direction:row;
/*border: 1px solid white;*/
width:100%;
align-items:center;
position:fixed;
z-index: 1;
background-color: black;
/* we provide it as when we put fixed It doesnot part of the body,It behaves like individual Identity*/
margin-top:0px;
}
main {
  padding-top: 69px; /* To offset fixed header */
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}

.child,.child_1{
	flex:1;
	/*border:5px solid white;*/
}
.child{
	font-size: 10px;

	text-align: left;
}
.child_1{
	flex:1;
}
ul{
	/*display: flex;
	flex-flow: row;*/
	list-style: none;
	/*justify-content: center;
	align-content: center;*/
	text-align: right;
	}

ul li{
flex:1;
display: inline-block;
margin-right: 20px;
  padding: 20px 10px;
}
a{
	color: white;
	
}
a:hover{
	background-color: gold;
}
#mission{
	background-image: url("image/img-mission-background.jpg");
	width:1200px;
	height: 700px;
	
	padding-top: 70px;
	/*border:5px solid white;*/
	margin:0 auto;
	position: relative;

}
.spice{
	width:100%;
	height: 100px;
	background-color: black;
	margin-top: 250px;
}
.m_1{
	width: 1000px;
	/*border:5px solid white;*/
	/*margin-left:150px;
	margin-bottom: 40px;*/
	margin: 0 auto;
	display: flex;
	flex-direction: row wrap;
	align-items: center;
	justify-content: space-between;

}

.m_2{
	width: 640px;
	/*border:5px solid white;*/
	/*margin-left:350px;
	margin-top:40px;*/
	margin: 0 auto;
	margin-bottom: 40px;
	display: flex;
	flex-direction: row wrap;
	align-items: center;
	justify-content: center;

}


.box,.box_1{
	flex:1;
	flex-basis: 300px;
	padding-top: 40px;

	
}

#locations{
	background-image: url("image/img-locations-background.jpg");
	width:1200px;
	height: 500px;
	padding-top: 70px;
	border:1px solid orange;
	margin: 0 auto;
}
div{
	display:block;
}
.container_1{
	display: flex;
	flex-direction: row;
	width:980px;
	border:1px solid white;
	margin:auto; 
}
.location{
	flex:1;
	width:300px;
	background: black;
	margin-right: 10px;
}
footer {
  text-align: left;
  padding-left: 20px;
}